root = true

[*]
max_line_length = 100
indent_style = space
indent_size = 4
charset = utf-8

[*.cs]
trim_trailing_whitespace = true
insert_final_newline = true
end_of_line = crlf

[*.{md,json,yml}]
indent_size = 2
